joblib==1.4.2
numpy==1.26.4
pandas==2.1.4
pillow==10.4.10
requests==2.32.2
seaborn==0.13.2
scikit-learn==1.4.2
xgboost==2.0.3
scipy==1.13.1
streamlit==1.32.0
streamlit-option-menu==1.16.0
lightgbm==4.1.0